.formContainer {
    display: flex;
    align-items: center;

    background-color: var(--gray-400);
    padding: 0.5rem;

    border-radius: 4px;
    border: 1px solid transparent;

    transition: all 0.2s ease-in;
}

.formContainer:hover,
.active {
    border: 1px solid var(--green-300);
}

.buttonForm,
.buttonFormeDelete {
    background-color: transparent;
    color: var(--gray-200);
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    margin-left: 0.5rem;
}

.buttonFormeDelete {
    transition: all 0.1s ease-in;
}

.buttonFormeDelete:hover {
    animation: shake 0.5s ease-in-out;

    background-color: var(--red-500);
    color: white;
}

.inputForm {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: .5rem;

    font-size: 1rem;
    color: var(--gray-100);

    outline: none;
}

.inputForm::placeholder {
    color: var(--gray-200);
    font-size: 1rem;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.7rem;

    margin: 1rem 0 0 0;
    padding: 0;
    table-layout: fixed;
}

table caption {
    font-size: 1rem;
    margin: .5rem 0 .75rem
}

th {
    text-align: left;
    color: var(--gray-100);
}

.tr {
    background-color: var(--gray-400);
}

.tdLabel {
    font-size: 1.05rem;
    color: var(--gray-100);
}

.name span {
    color: var(--gray-100);
}

.change {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

td:first-child,
th:first-child {
    border-radius: 4px 0 0 4px;
}

td:last-child,
th:last-child {
    border-radius: 0 4px 4px 0
}

table th,
table td {
    padding: .7rem;
    text-align: center;
}

.tdProfit {
    color: var(--green-300);
}

.tdLoss {
    color: var(--red-500);
}

/* RESPONSIVE TABLE */
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;

        overflow: hidden;
        position: absolute;
        width: 1px;
        padding: 0;
    }

    .tr {
        border-bottom: 1px solid var(--gray-200);
        display: block;
        margin-bottom: 1rem;
    }

    table td {
        border-bottom: 1px solid var(--gray-200);
        display: block;
        font-size: 1rem;
        text-align: right;
    }

    .change {
        justify-content: flex-end;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    td:first-child,
    th:first-child {
        border-radius: 0;
    }

    td:last-child,
    th:last-child {
        border-radius: 0;
    }
}


.containerButtonLoad {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.buttonLoad {
    background-color: var(--gray-400);
    color: var(--gray-100);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.2s ease-in;
}

.buttonLoad:hover {
    background-color: var(--gray-300);
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}
