.skeleton {
    height: 6.25rem;

    width: 100%;
    max-width: 30rem;

    padding:  0 1.5rem;

    background-color: var(--gray-400);
    border-radius: 0.5rem;
    animation: pulse 1.5s infinite ease-in-out;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
